<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">

</head>
<body>



<div class="user-home-page">

    <div class="navbar-main">
        <h3>SB Rentzz (Admin)</h3>

        <div class="navbar-options">
            <a href="/admin"  >Home</a>
            <a href="/all-users" >Users</a>
            <a href="/all-applications" class="selected" >Applications</a>
        </div>
        <button id="logoutBtn" >Logout</button>
    </div>

    <script>

        const myLink = document.getElementById('logoutBtn');

        myLink.addEventListener('click', function(event) {
            event.preventDefault();

            localStorage.clear();
            for (let key in localStorage) {
                if (localStorage.hasOwnProperty(key)) {
                    localStorage.removeItem(key);
                }
            }
            window.location.href = '/';

        });
    </script>

    <!-- Pending Requests -->

    <div class="user-home-container" >

        <div class="user-home-header">
            <h3>All Applications</h3>
        </div>

        <div class="user-home-body" >
            <div class="property-list">

                <div th:each="applic: ${applicationsList} " >

                    <div class="property">

                        <!-- Id at carousel and carousel-slide buttons should be unique for each card -->

                        <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img th:src="${applic.carouselImage1}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img th:src="${applic.carouselImage2}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img th:src="${applic.carouselImage3}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <h4 th:text="${applic.description}" ></h4>
                        <span>
                            <p><b>Rent: </b>&#8377; <span th:text="${applic.rent}"></span>/-</p>
                            <p><b>Deposit: </b>&#8377; <span th:text="${applic.deposit}"></span>/-</p>
                        </span>
                        <p><b>Owner: </b><span th:text="${applic.ownerName}"></span></p>
                        <p><b>Customer: </b><span th:text="${applic.applicantName}"></span></p>
                        <p><b>Email: </b><span th:text="${applic.applicantEmail}"></span></p>
                        <p><b>Address: </b><span th:text="${applic.address}"></span></p>
                        <p><b>Application status: </b><span th:text="${applic.status}"></span></p>
                    </div>

                </div>

            </div>

        </div>



    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>