<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Owner</title>

    <link rel="stylesheet" type="text/css" href="/css/owner.css">

</head>
<body>


<div class="user-home-page">

    <div class="navbar-main">
        <h3>SB Rentzz</h3>

        <div class="navbar-options">
            <a id="nav-owner-home" href="/owner/ksdb" class="selected" >Home</a>
            <a id="nav-owner-new-property" href="/new-property/khjb" >Add Property</a>
<!--            <a id="nav-owner-home" href="/update-property/khjb" >Update Property</a>-->
            <a id="nav-owner-applications" href="/owner-applications/ksdjn">Applications</a>
        </div>
        <button id="logoutBtn" >Logout</button>
    </div>

    <script>

        const myLink = document.getElementById('logoutBtn');

        myLink.addEventListener('click', function(event) {
            event.preventDefault();

            localStorage.clear();
            for (let key in localStorage) {
                if (localStorage.hasOwnProperty(key)) {
                    localStorage.removeItem(key);
                }
            }
            window.location.href = '/';

        });
    </script>





    <!-- Home (properties) -->

    <div class="user-home-container" >

        <div class="user-home-header">
            <h3>My Properties</h3>
            <h4>Username: <b id="nav-username" ></b> </h4>
        </div>

        <div class="user-home-body" >

            <div class="property-list">

                <div th:each="property: ${propertiesList}" >

                    <form class="property" th:if="${property.status == 'Available'}" action="/update-property" method="post" >

                        <input type="hidden" th:value="${property._id}" name="ownerId">

                        <div  id="carouselExampleControlsOwnerHome" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">

                                <div class='carousel-item active'>
                                    <img th:src="${property.carouselImage1}" class="d-block w-100" alt="...">
                                </div>
                                <div class='carousel-item'>
                                    <img th:src="${property.carouselImage2}" class="d-block w-100" alt="...">
                                </div>
                                <div class='carousel-item'>
                                    <img th:src="${property.carouselImage2}" class="d-block w-100" alt="...">
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsOwnerHome" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsOwnerHome" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <h4 th:text="${property.description}" ></h4>
                        <span>
                        <p><b>Rent: </b>&#8377; <span th:text="${property.rent}" ></span>/-</p>
                        <p><b>Area: </b><span th:text="${property.area}" ></span> sq.ft</p>
                    </span>
                        <p><b>Agreement Duration: </b><span th:text="${property.agreementDuration}" ></span> mths</p>
                        <p><b>Deposit: </b>&#8377; <span th:text="${property.deposit}" ></span>/-</p>
                        <p><b>Available for: </b><span th:text="${property.availableFor}" ></span></p>
                        <p><b>Furnished: </b><span th:text="${property.furnished}" ></span></p>
                        <p><b>Address: </b><span th:text="${property.address}" ></span></p>


                        <button  class=" btn btn-primary primaryBtn " type="submit">Update</button>


                    </form>
                </div>



            </div>
        </div>

    </div>

</div>


<script>

    function fetchData() {

        var localStorageData = localStorage.getItem('userData');
        var userData = JSON.parse(localStorageData);

        const navHome = document.getElementById('nav-owner-home');
        const navNewProperty = document.getElementById('nav-owner-new-property');
        const navApplications = document.getElementById('nav-owner-applications');

        navHome.href = `/owner/${userData._id}`;
        navNewProperty.href = `/new-property/${userData._id}`;
        navApplications.href = `/owner-applications/${userData._id}`;

        const navUsername = document.getElementById('nav-username');
        navUsername.innerHTML = userData.username;

    }
    fetchData();

</script>


<script>
    const updatePropertyBtn = document.querySelectorAll('.updatePropertyBtn');

    updatePropertyBtn.forEach(button => {
        button.addEventListener('click', function (e) {
            e.preventDefault();

            const formData = new FormData(this.closest('form'));
            alert("rfdsa");
            fetch('/update-property', {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        console.error('Operation failed');
                    }
                })
                .then(data => {
                    // Handle the response data as needed
                });
        });
    });


</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>